# Godot 4.5

.godot/
/android/
export_presets.cfg

builds/
export/
Trenchbroom/
Docs/


*.pck
*.exe
*.x86_64
*.apk
*.aab
*.dmg
*.zip
*.AppImage

.vscode/
.idea/
*.swp
*~
.DS_Store
Thumbs.db
desktop.ini